<!-- Code has been inspired by the model code in CS 340 (although altered significantly) -->
    <h1>Add a New Menu Item</h1>
    <form id="add_menu_item" action="/menu_item" method="post">
        <fieldset>
            <label>Menu Item name: <input type="text" name="MI_name" required></label><br>
            <label>
                Restaurant:
                <select name="restaurant_id">
                    {{#each restaurant}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </label><br>
            <label>Price: <input type="number" step="0.01" min="0" name="price" required></label><br>
            <fieldset>
                <legend>Item Description</legend>
                <textarea form="add_menu_item" name="description" rows="5" cols="80" required>Enter the description here</textarea>
            </fieldset><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    <br>
    <br>
    <h2>Menu Item List</h2>
    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Restaurant</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each menu_item}}
            <tr>
                <td>{{name}}</td>
                <td>{{restaurant_name}}</td>
                <td>{{price}}</td>
                <td class="descriptionCell">{{description}}</td>
                <td><button onclick="deleteMenuItem({{id}})">Delete</button></td>
                <!-- <td><button onclick="update_Menu_Item({{id}})">Update</button></td> -->
            </tr>
            {{/each}}
        </tbody>
    </table>
